#root {
  
  margin: 0 ;
  padding: 0;
  overflow: hidden;
  
}

body, p{
  font-family: 'Glacial Indifference', sans-serif;
}

h1{
  font-family: 'Anton', sans-serif;
}


h2,h3 {
  font-family: 'Glacial Indifference', sans-serif;
}

.alt-heading{
  font-family: 'Anton', sans-serif;
}

