@import "tailwindcss";




body {
  margin: 0;
  display: flex;
 overflow-x: hidden;
  min-width: 320px;
  min-height: 100vh;
}


@keyframes enter {
  from {
    opacity: 0;
    transform: translateX(100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes leave {
  from { 
    opacity: 1;
    transform: translateX(0);
  }
  to {
    opacity: 0;
    transform: translateX(100%);
  }
}

.animate-enter {
  animation: enter 0.3s ease-out forwards;
}

.animate-leave {
  animation: leave 0.3s ease-in forwards
}

/* flipbook.css */
.html-flip-book .page {
  margin: 0 !important;
  padding: 0 !important;
}

.html-flip-book .page > div {
  margin: 0 !important;
  padding: 0 !important;
}

.html-flip-book .page img {
  display: block;
  margin: 0 !important;
  padding: 0 !important;
}
